div {
    box-sizing: border-box;
    margin: 0px;
    /*esto es para generalizar las cajas que hata en el html*/
}

#P1 {
    color:blue;
}

.P2{
    color:green
}
h1 {
    color: blueviolet;
    letter-spacing: 20px;
    word-spacing: 10px;
    text-align: right;
    text-shadow: 2px 2px black;
    text-transform: capitalize;
    /*uppercase para todas las letras mayusculas*/

}
img{
    width: 300px;
    height: 300px
}

li{
    background-color: black;
    display: inline-block;
    height: 30px;
}
.caja{
    width: 200px;
    height: 200px;
    border: 1px solid blue;
    background-color: aquamarine;
    padding: 12px;
    padding-top: 30px;
    box-sizing: border-box;
}


