.product {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    display: inline-block;
    width: 200px;
    background-color: rgba(128, 128, 128, 0.493);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
}

.product img {
    max-width: 100%;
}

.product h3 {
    font-size: 1.2em;
}

.product p {
    font-size: 1em;
}

.buy-button {
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #000000;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3,
p,
a {
    font-family: var(--font__body);
}

.logo__nosotros {
    width: 400px;
    height: 400px;
    margin-right: 50px;
    animation: girar 1.5s;
  }

  @keyframes girar {

    100% {
      transform: scale(1) rotate(360deg);
    }
  }



  
