header {
  position: sticky;
  top: 0px;
}

.header__index {
  background-color: beige; /* Puedes ajustar el color de fondo según tu diseño */
  position: fixed;
  width: 100%;
  z-index: 1000; /* Asegúrate de que el z-index sea mayor que el de otros elementos en la página si es necesario */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Opcional: sombra para destacar el header */
}

.div__logocentro {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div__logocentro_reponsive {
  background-color: black;
  display: flex;
  justify-content: space-around;
}
.img__logo {
  max-width: 85px;
  height: auto;
}
.div__nav {
  background-color: aquamarine;
}
.ul__nav {
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  .a__nav {
    font-family: var(--font__display_y_enlaces);
    font-size: large;
    text-decoration: none;
    color: black;
  }
}
.div__menu_responsive {
  display: none;
}

@media (max-width: 768px) {
  .imgham {
    max-width: 40px;
    max-height: 40px;
  }
  .div__menu_responsive {
    cursor: pointer;
    background-color: black;
    display: flex;
    justify-content: space-between;
  }
  .div__menu_hamburguesa {
    background-color: black;
    margin: 15px;
  }
  .div__logocentro {
    display: none;
  }
  .button__cerrar_menu_responsive {
    display: none;
    background: black;
  }
  .button__cerrar_menu_responsive.block {
    display: block;
  }
  .button__menu_responsive {
    background: black;
  }
  .button__menu_responsive.none {
    display: none;
  }
  .div__nav {
    display: none;
    .ul__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      .li__nav {
        margin: 5px;
      }
    }
  }
  .div__nav.block {
    padding-top: 2px;
    display: block;
  }
}
