footer {
    text-align: center;
    padding: 3px;
    background-color: aquamarine;
    color: black;
  }

/*.redes_sociales {
  list-style: none;
  text-decoration: none black;  
}

.ul_Nosotros {
  list-style: none;
  text-decoration: none black;
}*/

