footer{
  background-color:aquamarine;
  text-align: center; /* Centra horizontalmente */
  font-family: var(--font__footer)
}
.footer-container {
  display: flex; 
  
  justify-content: space-around; 
  
  align-items:center; 
}

.seccion ul{
  list-style-type: none;
  margin: 2px; /* Agrega margen entre las secciones si es necesario */
}

.copyright {
  background-color: black;
  text-align:center;
  color: white;
  padding: 10px 0; /* Espaciado en la parte superior e inferior del copyright */
}

/* Estilos para los íconos de redes sociales */
.icono-ig img,
.icono-fb img,
.icono-tiktok img,
.icono-wtspp img {
  width: 45px;
  height: 45px;
}
