.div__logocentro {
  background-color: black;
  display: flex;
  justify-content: space-around;
}
.img__logo {
  max-width: 85px;
  height: auto;
}
.div__nav {
  background-color: aquamarine;
}
.ul__nav {
  margin: 0px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 20px 0px;
  .a__nav {
    text-decoration: none;
    color: black;
  }
}
.div__menu_responsive {
  display: none;
}
.bar {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
}
@media (max-width: 768px) {
  .div__menu_responsive {
    display: block;
    cursor: pointer;
    /* padding: 0px 10px; */
  }
  .div__menu_hamburguesa {
    background-color: aquamarine;
    padding: 10px;
  }
  .div__menu {
    display: none;
  }
}
