header {
    background-color: #000; /* Fondo negro */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.rectangulo{
    text-align: center; /* Centra el contenido horizontalmente */
    
}


.logocentro {
    display:inline-block;
    background-color: #000; /* Fondo negro para el contenedor del logo */
    padding: 3px; /* Espacio alrededor del logo */
}


.logo {
    max-width: 85px;
    height: auto;
}

.links {
    display: flex;
    flex-direction: row; /* Coloca los enlaces en línea */
    background-color:aquamarine;
    margin: auto;
}
.links a{
    margin: 15px 150px; /* Espacio entre los enlaces */
    text-decoration: none; /* Elimina la subrayado de los enlaces */
    color: black; /* Color del texto de los enlaces */
}
