body {
  background-color: bisque;
  margin: 0px;
}
.main__index {
  display: flex;
  justify-content: space-around;
  .div__remera {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 8px;
    margin: 30px 0px;
    .a__remera {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px;
    }
    .img__remera {
      max-width: 350px;
      height: auto;
      border-radius: 8px;
    }
  }
  .div__buzo {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 8px;
    margin: 30px 0px;
    .a__buzo {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px;
    }
    .img__buzo {
      max-width: 350px;
      height: auto;
      border-radius: 8px;
    }
  }
}
@media (max-width: 768px) {
  .main__index {
    display: block;
    margin: 20px;
    .div__buzo {
      margin-top: 10px;
    }
  }
}

.main__crear_cuenta {
  padding-left: 5px;
  margin-bottom: 30px;

  .form__crear_cuenta {
    margin-bottom: 5px;

    .div__datos_personales {
      margin: 5px;
      .ul__datos_personales {
        padding-left: 0px;
        list-style: none;
      }
      .input__datos_personales {
        display: block;
        margin: 5px 0px;
        border-radius: 8px;
      }
    }
    .div__consumidores {
      margin: 5px;
      .ul__consumidores {
        list-style: none;
        padding-left: 0px;
        .p__consumidores {
          padding: 5px;
        }
        .li__consumidores {
         padding: 5px;
        }
      }
    }
  }
}
