body {
  background-color: bisque;
  margin: 0px;
}
.main__index {
  display: flex;
  justify-content: space-around;
  .div__remera {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 8px;
    margin: 30px 0px;
    .a__remera {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px;
    }
    .img__remera {
      max-width: 350px;
      height: auto;
      border-radius: 8px;
    }
  }
  .div__buzo {
    background-color: rgba(128, 128, 128, 0.493);
    border-radius: 8px;
    margin: 30px 0px;
    .a__buzo {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      text-align: center;
      color: black;
      padding: 5px;
    }
    .img__buzo {
      max-width: 350px;
      height: auto;
      border-radius: 8px;
    }
  }
}
@media (max-width: 768px) {
  .main__index {
    display: block;
    margin: 20px;
    .div__buzo {
      margin-top: 10px;
    }
  }
}
